/* File: VerifyEmailForm.css */

.otp-input-container {
    display: flex;
    justify-content: space-between;
    gap: 8px; 
}

.otp-input {
    width: 15%; 
    text-align: center; 
    font-size: 1.5rem; 
    padding: 10px 0;
}


.form-control.otp-input:focus {
    border-color: #0d6efd; 
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}